body {
  margin: 24px 48px;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


/* FORM & FORM ELEMENTS */

form {
  border: 1px solid #ccc;
  box-shadow: 3px 3px 3px #aaa;
  width: 500px;
  padding: 16px;
}

textarea {
  width: 300px;
  height: 150px;
}


/* HEADER */

header ul {
  list-style: none;
  margin-left: 0;
  padding-inline-start: 0;
  /* width: 100%; */
  /* text-align: center; */
}

header li {
  display: inline-block;
  margin: 20px;
}

header li:first-of-type {
  margin-left: 0;
}

header a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

header a:hover,
header a:active,
header a.active {
  background-color: #B5D578;
  border-radius: 5px;
  color: white;
}


/* BUTTONS */

button {
  margin-left: 10px;
}

.edit-button {
  text-decoration: none;
  padding: 0 5px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 75%;
}

.add-new-button {
  text-decoration: none;
  padding: 0 5px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* TABLES */

table {
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px #0D1321 solid;
}

th, td {
  padding: 5px 10px;
}

th {
  text-align: left;
}

/* tr td:nth-child(3), tr td:nth-child(4) {
  text-align: center;
} */

tr td:last-child {
  border: none;
  background-color: white;
}

tr:nth-of-type(even) {
  background-color: #f2f2f2; 
}

.display tr.add_bird {
  background-color: white;
}

td input[type="number"] {
  width: 44px;
  padding-left: 10px;
}

/* TOGGLE SWITCH */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

/* input:focus + .slider {
  box-shadow: 0 0 1px green;
} */

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
